[submodule "cmake/sdl2"]
	path = cmake/sdl2
	url = https://gitlab.com/aminosbh/sdl2-cmake-modules.git
[submodule "modules/socket.io-client-cpp"]
	path = modules/socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp.git
